{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Register</h1>

    {{ form_start(changePassword) }}
        {{ form_row(changePassword.email) }}
        {{ form_row(changePassword.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn">Mise à Jour</button>
    {{ form_end(changePassword) }}
{% endblock %}
